

h1 {
    background-color: darksalmon;
    text-align: center;
    
}
body {
    background-color: khaki;

}

head {
    color: burlywood;

}

label {
    font-size: larger;
    text-align: center;
 
}

